//
//  Dev.xcconfig
//  ProjectName
//
//  Created by Nguyen Phuoc An on 27/4/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include? "$(PODS_ROOT)/Target Support Files/Pods-ProjectName-ProjectNameDev/Pods-ProjectName-ProjectNameDev.$(CONFIGURATION:lower).xcconfig"

ENVFILE = .env.dev

#include? "tmp.xcconfig"
